@{
    ViewData["Title"] = "Casa";
}

<div class="text-center">
    <h1 class="display-3"> Ciao </h1>
       
    <h3 class="display-6"> Se vuoi verificare il lavoro schiaccia sulla voce "note" aprendo il menu a comparsa "Home Page" </h3>


     


</div>

