@{
    ViewData["Title"] = "Casa";
}

<div class="text-center">
    <h1 class="display-3"> Ciao </h1>
       
    <h3 class="display-6"> Se vuoi verificare il lavoro schiaccia sulla voce "note" </h3>

    

</div>
